<h1 class="display-4" style="text-align: center;">Payment sent</h1>
<div class="container" style="width:50%;margin:auto;padding:20px;align-content: center; text-align:center">
    <a href="/" style="font-size: 125%;">Return to Homepage</a><br>
    <a href="/samplecatalog" style="font-size: 125%;">Return to Catalog</a>
</div>