<div class="container" style="width:50%;margin:auto;padding:20px;align-content: center;">
    <h2>Your Request has been submitted</h2>
    <p><a class="nav-link" href="/">Click here to return to homepage </a>
    <br><a class="nav-link" href="/refunds/showRefunds">Click here to submit more refund requests </a></p>
</div>
